html{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-head{
  text-align: center;
  color: azure;
}

h1{
  font-size: 3rem;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mama{
  text-align: center;
}

.only-text{
  font-size: 1.5rem;
}

.mess{
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-message{
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px;
}